<div id="hangman-game">

    <div class="row">
        <div class="col-8 offset-2" >
            <h1>Spanzuratoarea</h1>
        </div>
    <div class="col-2">
        <div class="btn-group button-drop">
            <button id="message" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profil</a>
                <div class="dropdown-divider"></div>
                <a id="btn-logout" class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
        </div>

    </div>
    </div>

    <div class="row">
        <div class="col-8">
            <div id="vertical-line">
                <div id="horizontal-line-inline">
                    <div id="vertical-line-inline"></div>
                    <div id="head" class="hide" >
                        <span id="left-eye" class="dot"></span>
                        <span id="right-eye" class="dot"></span>
                        <span class="nose"></span>
                        <div id="mouth"></div>
                    </div>
                    <div id="body" class="hide"></div>
                    <div id="left-hand" class="hide" ></div>
                    <div id="right-hand" class="hide"></div>
                    <div id="left-foot" class="hide"></div>
                    <div id="right-foot" class="hide"></div>

                </div>
                <div id="horizontal-line"></div>
            </div>
        </div>
        <div class="col-4">
            <div id="word">
                <span class="word-text"> Cuvantul este: </span>
                <span id="word-container"></span>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-4 offset-4">
            <div id="alert-message" class="message-alert alert hide" role="alert"></div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div>
            <div class="btn-toolbar">
                <div id="btn-template" class="btn-group btn-group-sm"></div>
            </div>
        </div>
    </div>

    <div class="row mt-5 justify-content-center">
        <div>
            <button id="btn-reset-game" type="button" class="btn btn-secondary"><i class="fa fa-gamepad"></i> Joc nou</button>

        </div>
    </div>


</div>



